:root {
  --blue-medium-color: #0b44aa;
  --green-medium-color: #04a491;
  --oxford-color-gray: #6d6e71;
  --gray-dark-color: #323232;
  --gray-medium-color: #d4d9e2;
  --white-color: #ffffff;
}

html,
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: var(--blue-medium-color);
}

.blog-hr {
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid var(--gray-medium-color);
}

/* Font Sizes */
.fs-14 {
  font-size: 0.875rem !important;
}

.fs-18 {
  font-size: 1.125rem !important;
}
